* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Dashboard {
  padding-bottom: 5px;
  height: 21vh;
  position: fixed;
  width: 100%;
}
.Home {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Home img {
  border-radius: 50%;
}
