* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.Dashboard {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.Home {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Home img {
  border-radius: 50%;
}
